:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color-button: #188ce8;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --bcg-color: #2f303a;
  --bcg-color-grey: #f5f4fa;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Стили для всего сайта */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

/* ГЛАВНАЯ */
/* Лого (class="logo-first" возможно убрать, не нужен?) */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.nav .logo-second {
  color: var(--primary-black-color);
}

/* Область навигации */
.nav-section {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Адреса */
.address-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Герой */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero {
  background-color: var(--bcg-color);
}

/* Прячем заголовок уровня h2, как Julia Kleimenova показывала на занятии */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Особенности */
.features-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* Чем мы занимаемся */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
/* Наша команда */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-section {
  background-color: var(--bcg-color-grey);
}

/* Футер */
.footer .logo-second {
  color: var(--primary-white-color);
}

.address-footer {
  font-style: normal;
  color: var(--address-footer-color);
}

.address-footer .map {
  color: var(--primary-white-color);
}

.address-footer .map:hover,
.address-footer .map:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--bcg-color);
}

/* Кнопка на главной */
.button-primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-color-button);
}

/* ПОРТФОЛИО */
/* Прячем заголовок уровня h1, как Julia Kleimenova показывала на занятии */
.portfolio-title .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Фильтр */
.portfolio-section .button-secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bcg-color-grey);
}

.portfolio-section .button-secondary:hover,
.portfolio-section .button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Работы */
.item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
